@use "../Pancake/Css-global/variables.scss" as var;

* {
    // outline: 1px solid red;
    font-family: Kanit, sans-serif;
}

.orange-section-container {
    max-width: 900px;
    max-height: 700px;
}

#orange-section {
    position: relative;
    z-index: 0;
    background: linear-gradient(#6fb6f1, #eaf2f6);
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#section-wrapper {
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    // margin: 40px 120px;      
    padding: 40px;
    box-sizing: border-box;
    border-radius: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;

    .top-text {
        h2 {
            text-align: center;
            font-size: 40px;
            color: var.$second-color-title;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 24px;

            span {
                color: var.$second-color;
            }
        }

        h3 {
            text-align: center;
            color: var.$second-color-subtitle;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400;

        }
    }
}

#card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-right: 118px;
    margin-left: 118px;

    #left-card {
        background: var.$colors-gradientGold;
        transform: rotate(-1.43deg);
        border-radius: 24px;
        margin-right: 24px;
        padding: 24px;
        max-width: 275px;
        min-height: 350px;
        &:hover {
            transition: all 1s ease-out;
            transform: translateY(-10px) rotate(-5deg);
        }

        img {
            margin-left: 90%;
        }

        #text-card-wrapper {
            color: var.$second-color-title;
            text-align: left;

            :first-child,
            :nth-child(3) {
                font-weight: 600;
                line-height: 1.5;
                font-size: 16px;
            }

            :nth-child(2) {
                color: var.$second-color-title;
                font-size: 40px;
                line-height: 1.5;
                margin-bottom: 8px;
                margin-top: 8px;
                font-weight: 600;
            }

            :nth-child(3) {
                margin-bottom: 24px;
            }

            :nth-child(4) {
                margin-bottom: 40px;
                font-weight: 600;
                line-height: 1.5;
                font-size: 16px;
            }
        }

    }

    #right-card {
        background: linear-gradient(#7544d8, #5121b1);
        transform: rotate(1.43deg);
        border-radius: 24px;
        padding: 24px;
        color: #fff;
        max-width: 275px;
        height: 100%;
        min-height: 350px;
        &:hover {
            transition: all 1s ease-out;
            transform: translateY(-10px) rotate(5deg);
        }

        img {
            margin-left: 90%;
        }

        #text-card-wrapper {
            h1 {
                font-size: 40px;
                line-height: 1.5;
                background: -webkit-linear-gradient(180deg, #ffd800, #fdab32);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

            }

            h2 {
                color: #fff;
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 40px;
                font-size: 16px;
            }

            h3 {
                font-size: 16px;
            }

            #h3-last {
                margin-bottom: 44px;
            }
        }
    }

    .button-orange-card {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            width: 100%;
        }
    }
}

.bottom-left-wrapper {
    top: 300px;
    left: -10px;
}

.top-right-wrapper {
    top: -10px;
    right: 15px;
}

.bottom-left-wrapper,
.top-right-wrapper {
    max-width: 512px;
    max-height: 512px;
    position: absolute;
    height: 512px;
    width: 512px;
    img {
        max-width: 512px;
        max-height: 512px;
        position: absolute;
        animation: animate 2s ease-in-out infinite alternate;
        z-index: -1;
    }

    :first-child {
        animation-delay: -2000ms;
    }

    :nth-child(2) {
        animation-delay: -3000ms;

    }

    :nth-child(3) {
        animation-delay: -4000ms;

    }

    :nth-child(4) {
        animation-delay: -5000ms;
    }

    :nth-child(5) {
        animation-delay: -6000ms;
    }
    .ball7 {
        left: 20px;
        @keyframes animate2 {
            from {
              transform: translate(0px,20px);
            }
          }
          animation: animate2 2s ease-in-out infinite alternate;
    }
}