* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

.btn-thin {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #fff;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: #1fc7d4;
  box-shadow: none;
  color: #1fc7d4;
}
.btn-thin a {
  color: inherit;
  text-decoration: none;
}
.btn-thin:hover {
  opacity: 0.65;
}
.btn-thin:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}

.btn {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #fff;
}
.btn a {
  color: inherit;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.65;
}
.btn:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}

.btn-dark {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}
.btn-dark a {
  color: inherit;
  text-decoration: none;
}
.btn-dark:hover {
  opacity: 0.65;
}
.btn-dark:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}
.btn-dark a {
  color: #191326;
}

.btn-square {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #fff;
  width: 48px;
}
.btn-square a {
  color: inherit;
  text-decoration: none;
}
.btn-square:hover {
  opacity: 0.65;
}
.btn-square:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}
.btn-square i {
  position: absolute;
}

.btn-square-dark {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  width: 48px;
}
.btn-square-dark a {
  color: inherit;
  text-decoration: none;
}
.btn-square-dark:hover {
  opacity: 0.65;
}
.btn-square-dark:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}
.btn-square-dark a {
  color: #191326;
}
.btn-square-dark i {
  position: absolute;
}

.card-square {
  height: 280px;
  width: 280px;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}
.card-square .card-square-text {
  position: relative;
  margin-top: 115px;
}
.card-square .card-square-text h2 {
  font-size: 32px;
  line-height: 1.1;
}
.card-square .card-square-text p {
  margin-top: 24px;
  font-size: 16px;
}
.card-square .card-square-text span {
  position: absolute;
  top: -114px;
  left: 195px;
  background-color: red;
  height: 36px;
  width: 36px;
}

.img-anim {
  animation: animate 5s ease-out infinite alternate;
}

@keyframes animate {
  from {
    transform: translate(20px, 20px);
  }
}

.navbar {
  height: 56px;
  background-color: white;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e7e3eb;
  justify-content: space-between;
}

.container-logo-menu {
  display: flex;
  flex-direction: row;
}

.img-logo {
  height: 56px;
  width: 160px;
}

.logo-home {
  block-size: fit-content;
  width: fit-content;
}

.menus {
  width: 330px;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.btn-trade {
  color: #7a6eaa;
  width: 71.5px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.dropdown-content a {
  color: #7a6eaa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdowns:hover .dropdown-content {
  display: block;
  border-radius: 8px;
}

.dropdowns:hover .btn-trade {
  background-color: rgb(241, 232, 232);
}

.btn-earn {
  color: #7a6eaa;
  width: 64.22px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.dropdowns {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 280px;
  height: fit-content;
}

.dropdown-content a {
  color: #7a6eaa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(241, 232, 232);
  border-radius: 8px;
}

.dropdowns:hover .dropdown-content {
  display: block;
}

.dropdowns:hover .btn-earn {
  background-color: rgb(241, 232, 232);
}

.btn-win {
  color: #7a6eaa;
  width: 59px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.dropdowns:hover .btn-win {
  background-color: rgb(241, 232, 232);
}

.btn-NFT {
  color: #7a6eaa;
  width: 60.15px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.dropdowns:hover .btn-NFT {
  background-color: rgb(241, 232, 232);
}

.btn-3-points-menu {
  color: #7a6eaa;
  width: 58px;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.dropdowns:hover .btn-3-points-menu {
  background-color: rgb(241, 232, 232);
}

.three-points-menu {
  width: 20px;
  height: 20px;
}

.img-bunny-logo {
  height: 24px;
  text-decoration: none;
}

.img-bunny-logo:hover {
  transform: scale(1.2);
  transition: 200ms;
}

.icon-bunny-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.price {
  padding-left: 5px;
  padding-right: 5px;
}

.container-details-from-navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.btn-change-language {
  width: 48px;
  height: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  justify-content: center;
}

.img-lng {
  width: 30px;
}

.language:hover .btn-change-language {
  opacity: 0.5;
  transition: 200ms;
}

.btn-option {
  width: 48px;
  height: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: center;
}

.img-btn-option {
  width: 25px;
  rotate: 90deg;
}

.option:hover .img-btn-option {
  opacity: 0.5;
  transition: 200ms;
}

.container-details-from-navbar {
  height: 56px;
  display: flex;
  align-items: center;
}

.change-crypto {
  border: none;
  background-color: #EFF4F5;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #280D5F;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.img-change-crypto {
  width: 30px;
  height: 30px;
}

.img-down-arrow {
  width: 20px;
  height: 15px;
}

.dropdown-crypto:hover .dropdown-content {
  display: block;
  border-radius: 8px;
}

.dropdown-crypto:hover .change-crypto {
  background-color: rgb(241, 232, 232);
}

.select-network-text {
  color: #7a6eaa;
  padding: 15px;
  font-size: 16px;
}

.img {
  width: 25px;
  height: 20px;
  padding-right: 5px;
}

.btn-connect-wallet {
  padding: 0px 15px 0px 15px;
}

h1 {
  color: blue;
}

/*# sourceMappingURL=main.css.map */
