* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

.btn-thin {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #fff;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: #1fc7d4;
  box-shadow: none;
  color: #1fc7d4;
}
.btn-thin a {
  color: inherit;
  text-decoration: none;
}
.btn-thin:hover {
  opacity: 0.65;
}
.btn-thin:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}

.btn {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #fff;
}
.btn a {
  color: inherit;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.65;
}
.btn:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}

.btn-dark {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}
.btn-dark a {
  color: inherit;
  text-decoration: none;
}
.btn-dark:hover {
  opacity: 0.65;
}
.btn-dark:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}
.btn-dark a {
  color: #191326;
}

.btn-square {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #fff;
  width: 48px;
}
.btn-square a {
  color: inherit;
  text-decoration: none;
}
.btn-square:hover {
  opacity: 0.65;
}
.btn-square:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}
.btn-square i {
  position: absolute;
}

.btn-square-dark {
  background-color: #1fc7d4;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 48px;
  padding: 0px 24px;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  width: 48px;
}
.btn-square-dark a {
  color: inherit;
  text-decoration: none;
}
.btn-square-dark:hover {
  opacity: 0.65;
}
.btn-square-dark:active {
  opacity: 0.85;
  transform: translateY(1px);
  box-shadow: none;
}
.btn-square-dark a {
  color: #191326;
}
.btn-square-dark i {
  position: absolute;
}

.card-square {
  height: 280px;
  width: 280px;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}
.card-square .card-square-text {
  position: relative;
  margin-top: 115px;
}
.card-square .card-square-text h2 {
  font-size: 32px;
  line-height: 1.1;
}
.card-square .card-square-text p {
  margin-top: 24px;
  font-size: 16px;
}
.card-square .card-square-text span {
  position: absolute;
  top: -114px;
  left: 195px;
  background-color: red;
  height: 36px;
  width: 36px;
}

.img-anim {
  animation: animate 5s ease-out infinite alternate;
}

@keyframes animate {
  from {
    transform: translate(20px, 20px);
  }
}
h1 {
  color: blue;
}

#card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fff 22%, #d7caec 100%);
  position: relative;
  padding: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}
#card-section .bunny-img {
  margin-bottom: 24px;
}
#card-section .card-title-h2 {
  font-size: 40px;
  color: #280d5f;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}
#card-section p {
  margin-top: 30px;
  color: #7a6eaa;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
}
#card-section b {
  color: #7a6eaa;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 32px;
  text-align: center;
  font-size: 16px;
}

.card-container {
  display: flex;
  flex-direction: row;
}
.card-container .card-1,
.card-container .card-2,
.card-container .card-3 {
  height: 280px;
  width: 280px;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  margin: 15px;
  position: relative;
  margin-bottom: 50px;
}
.card-container .card-1 h2:nth-child(2),
.card-container .card-2 h2:nth-child(2),
.card-container .card-3 h2:nth-child(2) {
  position: absolute;
  bottom: 80px;
  font-size: 40px;
  color: #280d5f;
  font-weight: 600;
  line-height: 1.1;
}
.card-container .card-1 #h2-card1,
.card-container .card-1 #h2-card2,
.card-container .card-1 #h2-card3,
.card-container .card-2 #h2-card1,
.card-container .card-2 #h2-card2,
.card-container .card-2 #h2-card3,
.card-container .card-3 #h2-card1,
.card-container .card-3 #h2-card2,
.card-container .card-3 #h2-card3 {
  position: absolute;
  bottom: 40px;
  font-size: 40px;
  color: #7645d9;
  font-weight: 600;
  line-height: 1.1;
}
.card-container .card-1 #h2-card2,
.card-container .card-2 #h2-card2,
.card-container .card-3 #h2-card2 {
  color: #007aff;
}
.card-container .card-1 #h2-card3,
.card-container .card-2 #h2-card3,
.card-container .card-3 #h2-card3 {
  color: #ed4b9e;
}
.card-container .card-1 span,
.card-container .card-2 span,
.card-container .card-3 span {
  position: absolute;
  bottom: 15px;
  font-size: 16px;
  color: gray;
}
.card-container .card-1 .logo-1,
.card-container .card-1 .logo-2,
.card-container .card-1 .logo-3,
.card-container .card-2 .logo-1,
.card-container .card-2 .logo-2,
.card-container .card-2 .logo-3,
.card-container .card-3 .logo-1,
.card-container .card-3 .logo-2,
.card-container .card-3 .logo-3 {
  position: absolute;
  right: 15px;
  width: 35px;
}

/*# sourceMappingURL=main.css.map */
