@use "../GlobalVariables/variables.scss" as var;

//Color of dark-theme
$black: #191326;

@mixin btn($light-theme: true) {
  a {
    color: inherit;
    text-decoration: none;
  }

  background-color: var.$prim-color;

  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  height: 48px;
  padding: 0px 24px;

  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;

  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;

  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;

  &:hover {
    opacity: 0.65;
  }
  &:active {
    opacity: 0.85;
    transform: translateY(1px);
    box-shadow: none;
  }

  @if $light-theme {
    color: #fff;
  } @else {
    a {
      color: $black;
    }
  }
}

.btn-thin {
  @include btn();
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: var.$prim-color;
  box-shadow: none;
  color: var.$prim-color;
}

.btn {
  @include btn();
}

.btn-dark {
  @include btn($light-theme: false);
}

.btn-square {
  @include btn();
  width: 48px;
  i {
    position: absolute;
  }
}

.btn-square-dark {
  @include btn($light-theme: false);
  width: 48px;
  i {
    position: absolute;
  }
}
