//----------------------------------

.hero-section {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;

  background: -webkit-linear-gradient(310.27deg, #e6fdff 0%, #f3efff 100%);
  background: linear-gradient(139.73deg, #e6fdff 0%, #f3efff 100%);
}

.hero-bg-wave {
  width: 100%;
  height: 278px;
  position: absolute;
  bottom: -100px;
}

//****************//
//  SLIDE BANNER  //
//***************//

.hero-slideBar {
  margin-top: 80px; //da togliere

  background: radial-gradient(
    104.12% 231.19% at -4.12% -5.83%,
    rgb(0, 87, 174) 0.52%,
    rgb(102, 124, 198) 67.41%,
    rgb(25, 229, 245) 100%
  );

  background-repeat: no-repeat;
  background-size: cover;

  height: 192px;
  width: 1112px;
  border-radius: 32px;

  position: relative;
}
.hero-slideBar-content {
  display: flex;
  flex-direction: column;
  padding: 24px;

  & > span {
    color: #fff;
  }

  & > span:first-of-type {
    font-size: 20px;
  }
  & > span:nth-child(2) {
    font-size: 33px;
    margin: 10px 0 21px;
  }
}
.hero-slideBar-content-img {
  background-image: url("../images/hero-slidebar-bg1.webp");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1px;
  right: 0px;
}
.hero-slideBar-buttons {
  z-index: 2;
  button {
    padding: 4px 8px;
    height: 48px;

    & > div > span:first-child {
      font-size: 12px;
      margin-right: 4px;
      font-weight: 800;
    }
  }
  .hero-slideBar-buttons-icons {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(125deg)
      brightness(101%) contrast(101%);
  }
  button:nth-child(1) {
    width: 246px;
    margin-right: 6px;
    & > div {
      display: flex;
      align-items: center;
      img {
        height: 15px;
        width: 20px;
      }
    }
  }
  button:last-child {
    background-color: #fff;
    color: #1fc7d4;
    width: 213px;
    & > div {
      display: flex;
      align-items: center;
      img {
        height: 15px;
        width: 20px;
        filter: invert(62%) sepia(65%) saturate(560%) hue-rotate(135deg)
          brightness(95%) contrast(84%);
      }
    }
  }
}

.hero-slideBar-btnSlider {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 108px;
  bottom: 12px;
  z-index: 3;

  border-radius: 4px;
  height: 8px;
  background-color: #ffffff40;

  span {
    width: 33%;
  }

  span:nth-child(1) {
    background-color: #fff;
    border-radius: 4px 0 0 4px;
  }
}

.hero-slideBar-img {
  position: absolute;

  bottom: -23px;
  right: 57px;
}
.hero-slideBar-img-bunny1 {
  width: 193px;
  height: 263px;
}

.hero-slideBar-img-bunny2 {
  width: 100%;
  height: 230px;
  position: relative;
  left: 56px;
}

.hero-slideBar-img-bunny3 {
  width: 100%;
  height: 230px;
  position: relative;
  left: 56px;
  top: -19px;
}

//****************//
//  HERO HOMEPAGE //
//***************//

.hero-homepage {
  width: 1152px;
  height: 578px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 230px;

  h2,
  p {
    margin-bottom: 24px;
  }
}
.astronaut-bunny-img {
  height: 576px;
  width: 576px;
}

.hero-homepage-text-title {
  font-size: 57px;
  font-weight: 800;
  color: #7645d9;
  line-height: 1.1;
}
.hero-homepage-text-parag {
  font-size: 19px;
  font-weight: 600;
  line-height: 0.9;
}
//Ancora in fase iniziale...
@media screen and (max-width: 578px) {
  .hero-slideBar {
    width: 452px;
  }

  .hero-homepage {
    flex-direction: column-reverse;
    width: 100%;
    padding: 5%;
    margin-bottom: 0px;
  }
  .astronaut-bunny-img {
    height: 192px;
    width: 192px;
  }

  .hero-homepage-text-title {
    font-size: 40px;
  }
  .hero-bg-wave {
    height: 196px;
  }
}
