

#buyCake-section {
  position: relative;
  gap: 16px;
  background: #ffffff;
  height: 100px;

  .buyCake-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5;
    max-width: 1000px;
    margin: 0 auto;
  }
  .buyCake-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5;
    height: 450px;
    justify-content: space-between;
    gap: 30px;
  }

  .buyCake-color {
    color: #7a6eaa;
  }
  .buyCake-div1 {
    display: inline-block;
    color: #280d5f;
    font-family: "Kanit", sans-serif;
  }
  .buyCake-smallTitle {
    display: flex;
    flex-wrap: wrap;
    color: #7645d9;
    font-family: "Kanit", sans-serif;
    font-size: 38px;
    gap: 7px;
    padding: 0 0 0 12px;
  }

  .buyCake-mini {
    color: #280d5f;
  }
  .buyCake-paragraphTop {
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    color: #7a6eaa;
    padding: 0 0 0 12px;
    position: relative;
    top: 15px;
  }

  .buyCake-link {
    display: flex;
    gap: 3;
    align-items: center;
    padding: 0 0 0 12px;
    position: relative;
    top: 20px;
  }
  .buyCake-paragraph {
    font-size: 16px;
    font-family: "Kanit", sans-serif;
    color: #7a6eaa;
    padding: 0 0 0 12px;
  }
  .buyCake-data {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 0 0 0 12px;
    position: relative;
    left: -100px;
    bottom: 50px;
  }
  .buyCake-dataCont1 {
    position: relative;
    top: 3px;
    left: 50px;

    padding: 0 0 0 12px;
  }
  .buyCake-dataCont2 {
    position: relative;
    top: 40px;
    left: 50px;

    padding: 0 0 0 12px;
  }
  .buyCake-dataCont3 {
    position: relative;
    left: 370px;
    bottom: 85px;
    border-left: 1px solid #7a6eaa;
    padding: 0 0 0 12px;
  }
  .buyCake-dataCont4 {
    position: relative;
    left: 370px;
    bottom: 50px;
    border-left: 1px solid #7a6eaa;
    padding: 0 0 0 12px;
  }
  .buyCake-dataCont5 {
    position: relative;
    left: 730px;
    bottom: 174px;
    border-left: 1px solid #7a6eaa;
    padding: 0 0 0 12px;
  }
  .buyCake-dataCont6 {
    position: relative;
    left: 730px;
    bottom: 140px;
    border-left: 1px solid #7a6eaa;
    padding: 0 0 0 12px;
  }

  .buyCake-big-data {
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    color: #280d5f;
    padding: 0 0 0 12px;
    font-weight: bold;
  }
}
.buyCake-animationBox {
  height: 700px;
  width: 700px;
  display: flex;
  position: relative;
  top: 120px;
}

.buyAnimation {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Buycake-and-pancakes .Buypancake {
  max-width: 26rem;
  max-height: 26rem;
}
.buyCake-link {
  text-decoration: none;
  gap: 20px;
  position: relative;
  top: 10px;
}
.buyCake-aColor {
  color: #1fc7d4;
}

.buyCake-dataCont {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  border-left: 1px solid #b8add2;
  padding-left: 0.75rem;
}

.purple-container {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #7645d9;
  justify-content: center;
}

.purple-animationBoxTop {
  top: 0;
  height: 280px;
  width: 280px;
  display: flex;
  position: relative;
  left: -300px;
}

.purple-animationBoxBottom {
  top: 200px;
  height: 200px;
  width: 200px;
  display: flex;
  position: relative;
  left: 180px;
}

.purple-texBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
.purple-h3 {
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
}
.purple-p {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
}
.purple-linkContainer {
  display: flex;
  flex-direction: column;
}
