.section3-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  
  .images-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 200px;
    right: 700px;
  }
  
  .images-wrapper img {
    width: 400px; 
    height: 400px;
    height: auto;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    text-align: center;
    position: relative;
    left: 300px;
  }
  
  .twin-section-title {
    font-size: 40px;
    font-weight: bold;
    color: #1A1A1A;
    margin-bottom: 20px;
    text-align: initial;
    position: relative;
    right: 8px;
  }
  
  .twin-section2-title{
    font-size: 40px;
    font-weight: bold;
    color: #1A1A1A;
    margin-bottom: 20px;
    text-align: initial;
    position: relative;
  }
  
  .secondary {
    color:#7645d9
  }
  
  .paragraph {
    font-size: 18px;
    color: #6C757D;
    margin-bottom: 28px;
    text-align: initial;
    position: relative;
  }
  
  .btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 140px;
  }
  
  .btn-wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 174px ;
  }
  
  .link {
    text-decoration: none;
    color: #1fc7d4;
    position: relative;
    left: 20px
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .section4-divider {
    background-color: #e9eaeb;
    fill: #fff;
  }
  
  .section4 {
    background-color: #e9eaeb;
  }
  
  .section4-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .images-wrapper2 {
    position: relative;
    width: 400px; 
    height: 400px; 
    margin: auto; 
    right: 525px;
  }
  .images-wrapper2 img {
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .text-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    text-align: center;
    position: relative;
    left: 750px;
  }
  
  .paragraph2 {
    font-size: 18px;
    color: #6C757D;
    margin-bottom: 28px;
    text-align: initial;
    position: relative;
  }
  
  .tab-container {
    display: table;
    width: 100%;
    border: 0;
  }
  
  .tab-title, .farms-data > div {
    display: table-cell;
    padding: 30px;
    padding-right: 50px;
    border: none
  }
  
  .tab-title {
    font-weight: bold;
    position: relative;
    left: 270px;
    padding-bottom: 10px;
  }
  
  .data-container {
    position: relative;
    left: 300px;
    bottom: 20px;
  }
  
  .small-title {
    padding-bottom: 10px;
    position: relative;
    right: 30px;
  }
  
  .data-initials {
    position: relative;
    right: 30px;
    top: 5px;
  }
  
  .data-paragraph {
    position: relative;
    right: 30px;
  }